<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Buscador de Dictamenes</center></h1>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Buscar por texto en Título" name="busqueda">
            <button type="submit">Buscar<i class="fa fa   -search"></i>
            </button>
        </form>
        <p></p>
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
    </body>
</html>